*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
#*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
.idea/
.svn/
*.iml
*/*.iml
target/
apache-tomcat*
RemoteSystems*
.metadata/
apache-tomcat-8.0.41/
Server*
generator.properties
.settings/
.project
.classpath